html {
    scroll-behavior: smooth;
}

.row-header {
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #D1C4E9;;
    ;
    margin:0px auto;/* Horizontally center => auto*/
    padding:20px 0px 20px 0px;
}

/*Whatever css we are defining is applied in addition to the standard defualt css written by bootstrap*/
.jumbotron {
    padding:70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #9575CD;
    color:floralwhite;
}

.address {
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}


/*
Notice that the navbar is partly covered in the jumbotron.WE shall fix it here.So to solve that we give a padding of 50px to the body from the top.
*/
body {
    padding:50px 0px 0px 0px;
    z-index:0;
}

/*
This shall not work until bg-primary is not removed in ul class
*/
.navbar-dark {
    background-color: #512DA8;
}

@media only screen and (max-width:320px) {
#reservebuttondiv {
    width:100%;
    padding:0px;
    
  }
}

.tab-content {
     border-left: 1px solid #ddd;
     border-right: 1px solid #ddd;
     border-bottom: 1px solid #ddd;
     padding: 10px;


}
a {
    text-decoration: none;
    color:inherit;
}
a:hover {
    text-decoration: none;
    color:initial;
}

/*carousel*/
.carousel {
    background: #512DA8;
}

.carousel-item {
    height:300px;
}

.carousel-item img {
    position : absolute;
    top : 0;
    left: 0;
    min-height : 300px;
}